@tailwind base;
@tailwind components;
@tailwind utilities;

.active-category {
  font-weight: bold;
  color: cadetblue;
  cursor: pointer;
  text-align: center; /* Center text horizontally */
  display: flex; /* Enable vertical centering */
  align-items: center; /* Center text vertically */
  justify-content: center; /* Center text horizontally */
}
